.header-block {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: rgba(121, 135, 161, 0.692);
  margin: auto;
  border: 1px black solid;
  border-radius: 5px;
}
.header-button {
  border: 1px rgba(0, 0, 0, 0.788) solid;
  border-radius: 5px;
  margin: 5px;
}
